@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');

$primary-font: 'Open Sans', sans-serif;
$background-color: white;
$secondary-color: #bababa;
$secondary-text-color: #5a5a5a;
$third-color: #fffcdd;
$fourth-color: #e89f8c;
$fifth-color: #a3bfc5;
$sixth-color: #f2f0f0;
$seventh-color: #3b455c;
$eigth-color: #fbdbcd;
// #fbdbcd
// #fffcdd
// #fef8f7
// #5b6884

* {
  font-family: $primary-font;

    section {
      margin-top: 60px;

      h2 {
        letter-spacing: 2px;
        margin: 40px 0;
      }
    }
  }


#hero {
  background-color: $background-color;
  text-align: center;
  height: 90vh;
  padding-top: 30px;
  font-family: $primary-font;


  h1 {
    margin: 0;
    font-size: 25px;
    letter-spacing: 2px;
  }

  h3 {
    color: $secondary-color;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-direction: row;
    color: $secondary-color;
    text-transform: uppercase;
    font-size: 15px;
    justify-content: center;
    list-style-type: none;

    & li {
      margin: 10px;
    }

    & a {
      text-decoration: none;
      position: relative;
      color: $secondary-color;

      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: $fourth-color;
        position: absolute;
        bottom: -4px;
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &:hover {
        font-weight: 700;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .slide-container {
    width: 94%;
    margin: auto;
   }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 74vh;
    background-position: 50% 60%;
  }

  .each-slide h1 {
    font-size: 60px;
    text-align: center;
    color: $background-color;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .each-slide span {
    font-size: 5px;
    text-align: center;
    color: $background-color;
    font-size: 50px;
    font-weight: 500;
  }

  .each-fade {
    display: flex;
  }

  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }

  .each-fade .image-container img {
    width: 100%;
  }

  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
}

#about {
  text-align: center;
  padding-top: 10px;

  .container > div {
    width: 60%;
    // color: #5a5a5a;
    font-size: 15px;
    margin: auto;
    font-weight: 300;
  }
}

#experience {
  display: flex;
  align-items: center;
  text-align: center;

  .experience {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div:first-child {
      background-color: $third-color;
      color: $secondary-text-color;
      p {
        color: $secondary-text-color;
      }
    }

    div:nth-child(2) {
      background-color: $fourth-color;
      color: $third-color;
      p {
        color: $third-color;
      }
    }

    div:nth-child(3) {
      background-color: $fifth-color;
      color: $sixth-color;
      p {
        color: $sixth-color;
      }
    }

    div:last-child {
      background-color: $seventh-color;
      color: $eigth-color;
      p {
        color: $eigth-color;
      }
    }

    & div {
      width: 18%;
      padding: 55px 30px;
      height: 220px;
      // text-align: left;


      h3 {
        // color: #bababa;
        font-size: 15px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
      }

      p {
        color: black;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

#skills {

  .container {
    height: 160px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 700px;
    align-items: center;
    justify-content: center;

    & i {
      font-size: 38px;
      margin: 12px 30px;
    }
  }

  h2 {
    text-align: center;
  }
}

#projects {

  h2 {
    text-align: center;
  }

  .project-images {
    display: flex;
    align-items: space-evenly;
    padding: 10px 55px;

    img {
      height: 200px;
      margin: 5px;
    }

    .text-block {
      color: $secondary-color;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
    }
  }

    .images:first-child > .text-block {
      text-decoration: underline;
      text-decoration-color: $third-color;
    }

    .images:nth-child(2) > .text-block {
      text-decoration: underline;
      text-decoration-color: $fourth-color;
    }

    .images:nth-child(3) > .text-block {
      text-decoration: underline;
      text-decoration-color: $fifth-color;
    }

    .images:last-child > .text-block {
      text-decoration: underline;
      text-decoration-color: $seventh-color;
    }

    .images:hover {
      cursor: pointer;
    }

  .project-content {
    padding: 10px 55px;
    text-align: center;

    h5 {
      color: $secondary-color;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      color: $secondary-text-color;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 20px;
      position: relative;
      color: $secondary-text-color;

      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: $fourth-color;
        position: absolute;
        bottom: -4px;
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &:hover {
        font-weight: 700;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

#contact {
  text-align: center;
  margin-bottom: 50px;


  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-text-color;
    font-size: 15px;
    justify-content: center;
    position: relative;
    margin: 0 50px;

    &:after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $fourth-color;
      position: absolute;
      bottom: -4px;
      left: 0;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      font-weight: 700;
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
    #about {
      height: 250px;
      .container {
        h2 {
          margin: 5px;
        }
        div {
          width: 90%;
          padding: 20px;
          p {
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    #experience {
      height: 1000px;

      .container {
        h2 {
          margin: 5px;
        }
      }
      .experience {
        height: 1000px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-self: center;

          div {
            width: 90%;
            padding: 20px;
          }
        }
      }
    #skills {
      margin-bottom: 30px;
      height: 300px;

      .container {
        flex-wrap: wrap;
        width: 100%;
        display: flex;

        i {
          margin: 15px;
        }
      }
    }
    #projects {
      .project-images {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-weight: 300;
        padding: 20px;
        font-size: 14px;

        img {
          margin: 12px 0;
        }
      }
        .project-content {
          padding: 20px;
          text-align: left;
        }
    }
  }

  //
  // @media only screen and (max-width: 768px) {
  //   #hero {
  //     margin-left: 80px;
  //   }
  //   #about {
  //     margin-left: 50px;
  //     height: 200px;
  //     .container {
  //       h2 {
  //         margin: 5px;
  //       }
  //       div {
  //         width: 90%;
  //         padding: 20px;
  //         p {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //   }
  //   #experience {
  //     margin-left: 50px;
  //
  //     .container {
  //       height: 400px;
  //       h2 {
  //         margin: 20px;
  //       }
  //     }
  //     .experience {
  //       display: flex;
  //       flex-wrap: wrap;
  //       align-items: center;
  //
  //         div {
  //           width: 40%;
  //           padding: 20px;
  //         }
  //       }
  //     }
  //     #skills {
  //       height: 200px;
  //       margin-top: 300px;
  //       margin-left: 50px;
  //
  //       .container {
  //         width: 100%;
  //         flex-wrap: wrap;
  //         display: flex;
  //
  //         i {
  //           margin: 15px;
  //         }
  //       }
  //     }
  //   #projects {
  //     .project-images {
  //       width: 100%;
  //       display: flex;
  //       justify-content: center;
  //       flex-wrap: wrap;
  //       font-weight: 300;
  //       font-size: 14px;
  //
  //       img {
  //         margin: 12px 20px;
  //       }
  //     }
  //       .project-content {
  //         text-align: center;
  //         width: 100%;
  //         padding: 20px;
  //       }
  //   }
  // }
// @media only screen and (max-width: 480px) {
//     #about {
//       width: 90%;
//     }
//
//     .experience {
//       display: flex;
//       flex-direction: column;
//       align-self: center;
//
//         & div {
//           width: 90%;
//           padding: 20px;
//         }
//       }
//     }
